<strong>Olá, {{ student }}</strong>
<p>Segue algumas informações referente ao seu plano:</p>
<p>
  Plano: {{ plan }} <br/>
  Data de término: {{ end_date }} <br/>
  Valor: {{ price }} <br/>

  Seja bem-vindo ao GymPoint!
</p>
